<div class="content-wrapper main-section-container">
    <app-distributor-menus></app-distributor-menus>
    <div class="row mt-3">
        <div class="col-md-12 pl-0">

            <div class="default-finance-accordion" id="accordion">

                <div class="row">
                    <!-- <div class="col-md-12">
                        <ul class="nav nav-tabs float-right">
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-one-tab" data-toggle="pill" href="#custom-tabs-month-one" role="tab" aria-controls="custom-tabs-month-one" aria-selected="false">JAN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-two-tab" data-toggle="pill" href="#custom-tabs-month-two" role="tab" aria-controls="custom-tabs-month-two" aria-selected="false">FEB</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-three-tab" data-toggle="pill" href="#custom-tabs-month-three" role="tab" aria-controls="custom-tabs-month-three" aria-selected="false">MAR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-four-tab" data-toggle="pill" href="#custom-tabs-month-four" role="tab" aria-controls="custom-tabs-month-four" aria-selected="false">APR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-five-tab" data-toggle="pill" href="#custom-tabs-month-five" role="tab" aria-controls="custom-tabs-month-five" aria-selected="false">MAY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-six-tab" data-toggle="pill" href="#custom-tabs-month-six" role="tab" aria-controls="custom-tabs-month-six" aria-selected="false">JUNE</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-seven-tab" data-toggle="pill" href="#custom-tabs-month-seven" role="tab" aria-controls="custom-tabs-month-seven" aria-selected="false">JULY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-eight-tab" data-toggle="pill" href="#custom-tabs-month-eight" role="tab" aria-controls="custom-tabs-month-eight" aria-selected="false">AUG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-nine-tab" data-toggle="pill" href="#custom-tabs-month-nine" role="tab" aria-controls="custom-tabs-month-nine" aria-selected="false">SEPT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-ten-tab" data-toggle="pill" href="#custom-tabs-month-ten" role="tab" aria-controls="custom-tabs-month-ten" aria-selected="false">OCT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link br1" id="custom-tabs-month-eleven-tab" data-toggle="pill" href="#custom-tabs-month-eleven" role="tab" aria-controls="custom-tabs-month-eleven" aria-selected="false">NOV</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="custom-tabs-month-twelve-tab" data-toggle="pill" href="#custom-tabs-month-twelve" role="tab" aria-controls="custom-tabs-month-twelve" aria-selected="false">DEC</a>
                            </li>

                        </ul>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseOne">
                                PAYROW - SUBSCRIPTION TARGET
                            </a>
                        </h4>
                    </div>

                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <!-- <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>


                                </div> -->
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                          <th scope="col"></th>
                                          <th scope="col">JAN</th>
                                          <th scope="col">FEB</th>
                                          <th scope="col">MAR</th>
                                          <th scope="col">APR</th>
                                          <th scope="col">MAY</th>
                                          <th scope="col">JUNE</th>
                                          <th scope="col">JULY</th>
                                          <th scope="col">AUG</th>
                                          <th scope="col">SEPT</th>
                                          <th scope="col">OCT</th>
                                          <th scope="col">NOV</th>
                                          <th scope="col">DEC</th>
                                        </tr>
                                      </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row">NUMBER OF SUBSCRIPTION  PER MERCHANT/MO</th>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                        <td>5,000
                                        </td>
                                      </tr>
                                      <tr>
                                        <th scope="row">SELLING PRICE PER MERCHANT</th>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                        <td>37</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">NUMBER OF SALE MAN</th>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>5</td>
                                        <td>7</td>
                                        <td>5</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>1</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">CUSTOMER PROJACTION</th>
                                        <td>250</td>
                                        <td>650</td>
                                        <td>700</td>
                                        <td>67</td>
                                        <td>100</td>
                                        <td>200</td>
                                        <td>400</td>
                                        <td>500</td>
                                        <td>700</td>
                                        <td>300</td>
                                        <td>100</td>
                                        <td>900</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">NUMBER OF MONTH</th>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                        <td>12</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">COST OF VEHICLES</th>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                        <td>600</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">TOTAL REVENUE PER MONTH</th>
                                        <td>166700</td>
                                        <td>609700</td>
                                        <td>67800</td>
                                        <td>86700</td>
                                        <td>96700</td>
                                        <td>26700</td>
                                        <td>86700</td>
                                        <td>66700</td>
                                        <td>96700</td>
                                        <td>26700</td>
                                        <td>56700</td>
                                        <td>66700</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="finance_table" class="table text-center data-table accordion-table finance-table">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseTwo">
                                REVENUE
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseTwo" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseThree">
                                VARIABLE OPERATION  COST OF (SERVICE)
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseFour">
                                TRANSPORT
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseFour" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseFive">
                                SALES TEAM
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseFive" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseSix">
                                SOFTWARE ENHANCEMENT COST
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseSix" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseSeven">
                                MANAGEMENT TEAM
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseSeven" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseEight">
                                OPERATION TEAM
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseEight" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseNine">
                                STRATEGIC PARTNER COST
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseNine" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseTen">
                                FIXED OVERHEAD
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseTen" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseEleven">
                                TOTAL COST ECOMMERCE
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseEleven" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapseTwelve">
                                COST PER SHIPMENT
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapseTwelve" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="card">

                    <div class="accordion-header">
                        <h4 class="card-title w-100">
                            <a class="d-block w-100 top-section collapsed" data-toggle="collapse" href="#collapsethirteen">
                                PROFIT RATIOS
                            </a>
                        </h4>
                    </div>

                    <!-- <div id="collapsethirteen" class="collapse" data-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">

                                <div class="col-3 mt-2">

                                    <div class="table-label">
                                        NUMBER OF SUBCRIPTION PER MERCHANT/MO
                                    </div>
                                    <div class="table-label">
                                        SELLING PRICE PER MERCHANT
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF SALESMAN
                                    </div>
                                    <div class="table-label">
                                        CUSTOMER
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF MONTHS
                                    </div>
                                    <div class="table-label">
                                        NUMBER OF VECHICLES
                                    </div>
                                    <div class="table-label">
                                        <b>TOTAL REVENUE PER MONTH</b>
                                    </div>

                                </div>

                                <div class="col-9 px-0">
                                    <div class="content">
                                        <table id="revenue_table" class="table text-center data-table accordion-table finance-table paginate-none">
                                            <thead>
                                                <tr>
                                                    <th class="col-width">JAN</th>
                                                    <th class="col-width">FEB</th>
                                                    <th class="col-width">MAR</th>
                                                    <th class="col-width">APR</th>
                                                    <th class="col-width">MAY</th>
                                                    <th class="col-width">JUN</th>
                                                    <th class="col-width">JUL</th>
                                                    <th class="col-width">AUG</th>
                                                    <th class="col-width">SEP</th>
                                                    <th class="col-width">OCT</th>
                                                    <th class="col-width">NOV</th>
                                                    <th class="col-width">DEC</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div> -->
                </div>

            </div>

        </div>
    </div>
</div>