<div class="container">
    <div class="row">
        <nav>
            <div class="nav nav-tabs dist-tab" id="distnav-tab" role="tablist">
              <!-- <button class="nav-link dist_nav" id="complaint" data-bs-toggle="tab" data-bs-target="#nav-complaint" type="button" role="tab" aria-controls="nav-complaint" aria-selected="true" [routerLink]="['/distributor']" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}><img src="/assets/images/complaints.svg" class="menuIcons"/>Complaints</button>

              <button class="nav-link dist_nav" id="complaint" data-bs-toggle="tab" data-bs-target="#nav-complaint" type="button" role="tab" aria-controls="nav-complaint" aria-selected="true" [routerLink]="['/distributor/complaints-history']" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}><img src="/assets/images/complaints.svg" class="menuIcons"/>Quarter Targets</button> -->
              <button class="nav-link dist_nav" id="appdownload" data-bs-toggle="tab" data-bs-target="#nav-appdownload" type="button" role="tab" aria-controls="nav-appdownload" aria-selected="true" routerLink="/distributor" [routerLinkActive]="['active']" [routerLinkActiveOptions]={exact:true}><img src="/assets/images/sales_vector.svg" width="18px" class="gray"/>App download</button>

              <button class="nav-link dist_nav" id="sales" data-bs-toggle="tab" data-bs-target="#nav-sales" type="button" role="tab" aria-controls="nav-sales" aria-selected="false" routerLink="/distributor/sales" [routerLinkActive]="['active']"><img src="/assets/images/sales_vector.svg" width="18px" class="gray"/>Sales</button>

              <button class="nav-link dist_nav" id="user" data-bs-toggle="tab" data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user" aria-selected="false" routerLink="/distributor/user-id" [routerLinkActive]="['active']"><img src="/assets/images/userid_vector.svg" class="cashinv" style="width: 25px; margin-right: 10px; position: relative; bottom: 2px;"/>POS ID</button>
              
              <button class="nav-link dist_nav" id="pos-performance" data-bs-toggle="tab" data-bs-target="#nav-pos-performance" type="button" role="tab" aria-controls="nav-pos-performance" aria-selected="false" routerLink="/distributor/pos-performance" [routerLinkActive]="['active']"><img src="/assets/images/userid_vector.svg" class="cashinv" style="width: 25px; margin-right: 10px; position: relative; bottom: 2px;"/>POS Performance</button>

              <button class="nav-link dist_nav" id="mc_locat" data-bs-toggle="tab" data-bs-target="#nav-mc_locat" type="button" role="tab" aria-controls="nav-mc_locat" aria-selected="false" routerLink="/distributor/merchant-location" [routerLinkActive]="['active']"><img src="/assets/images/merchand.svg" class="cashinv" style="width: 15px; margin-right: 10px; position: relative; bottom: 2px;"/>Merchant Locations</button>
            </div>
        </nav>
    </div>
</div>