<div class="card-body">
    <form>
        <div class="form-group row">
            <label for="address3" class="col-sm-4 col-form-label">Address</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="address3" placeholder="Address">
            </div>
            <div class="col-sm-4 radio-align">
                <label class="radio-inline">
                    <input type="radio" name="address3"  style="padding-left:15px;" checked><span>Approve</span>
                </label>
                <label class="radio-inline" style="padding-left:15px;">
                    <input type="radio" name="address3" style="padding-left:15px;"><span>Reject</span>
                </label>
                <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 35px;" data-toggle="modal" data-target=".bd-personal-owner3-modal-lg">Remark</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="capture_loc3" class="col-sm-4 col-form-label">Capture Location</label>
            <div class="col-sm-4 ">
                <input type="text" class="form-control" id="capture_loc3" placeholder="Capture Location">
            </div>
            <div class="col-sm-4 radio-align">
                <label class="radio-inline">
                    <input type="radio" name="capture_loc3"  style="padding-left:15px;" checked><span>Approve</span>
                </label>
                <label class="radio-inline" style="padding-left:15px;">
                    <input type="radio" name="capture_loc3" style="padding-left:15px;"><span>Reject</span>
                </label>
                <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 35px;" data-toggle="modal" data-target=".bd-personal-owner3-modal-lg">Remark</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="cnt1-3" class="col-sm-4 col-form-label">Primary Contact</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cnt1-3" placeholder="Primary Contact">
            </div>
            <div class="col-sm-4 radio-align">
                <label class="radio-inline">
                    <input type="radio" name="cnt1-3"  style="padding-left:15px;" checked><span>Approve</span>
                </label>
                <label class="radio-inline" style="padding-left:15px;">
                    <input type="radio" name="cnt1-3" style="padding-left:15px;"><span>Reject</span>
                </label>
                <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 35px;" data-toggle="modal" data-target=".bd-personal-owner3-modal-lg">Remark</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="cnt2-3" class="col-sm-4 col-form-label">Secondary Contact</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="cnt2-3" placeholder="Secondary Contact">
            </div>
            <div class="col-sm-4 radio-align">
                <label class="radio-inline">
                    <input type="radio" name="cnt2-3"  style="padding-left:15px;" checked><span>Approve</span>
                </label>
                <label class="radio-inline" style="padding-left:15px;">
                    <input type="radio" name="cnt2-3" style="padding-left:15px;"><span>Reject</span>
                </label>
                <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 35px;" data-toggle="modal" data-target=".bd-personal-owner3-modal-lg">Remark</button>
            </div>
        </div>
        <div class="form-group row">
            <label for="website3" class="col-sm-4 col-form-label">Website</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="website3" placeholder="Website">
            </div>
            <div class="col-sm-4 radio-align">
                <label class="radio-inline">
                    <input type="radio" name="website3"  style="padding-left:15px;" checked><span>Approve</span>
                </label>
                <label class="radio-inline" style="padding-left:15px;">
                    <input type="radio" name="website3" style="padding-left:15px;"><span>Reject</span>
                </label>
                <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 35px;" data-toggle="modal" data-target=".bd-personal-owner3-modal-lg">Remark</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12 float-right">
                    <button type="button" class="btn btn-sm btn-success edit_btn" data-toggle="modal" data-target=".bd-address3-modal-lg">Edit</button>
            </div>
        </div>
    </form>

    <div class="modal fade bd-address3-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content riskmodel-edit-form-modal">
                <div class="container">
                    <form id="edit_riskmodules_form">
                        <div class="col-11">
                            <div class="row">
                                <div class="col-sm-6">     
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" id="address" name="address" class="form-control" autocomplete="off" value="UAE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cpt_loc">Capture Location</label>
                                        <input type="text" id="cpt_loc" name="cpt_loc" class="form-control" autocomplete="off" value="UAE">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">     
                                    <div class="form-group">
                                        <label for="cnt1">Primary Contact</label>
                                        <input type="text" id="cnt1" name="cnt1" class="form-control" autocomplete="off" value="67867876898766">
                                    </div>
                                </div>
                                <div class="col-sm-6">     
                                    <div class="form-group">
                                        <label for="cnt2">Secondary Contact</label>
                                        <input type="text" id="cnt2" name="cnt2" class="form-control" autocomplete="off" value="67867876898766">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">    
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="text" id="website" name="website" class="form-control" autocomplete="off" value="PayRow.in">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="button" class="btn btn-submit" id="btn_submit">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>